.counters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.created {
    text-align: left;
}

.completed {
    text-align: right;
}

.completed p{
    font-size: 20px;
}

.created p{
    font-size: 20px;
}

.completed h2 {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
}

.created h2 {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
}
